mediapipe/provisioning_profile.mobileprovision
bazel-bin
bazel-mediapipe-1
bazel-genfiles
bazel-mediapipe-ioss
bazel-out
bazel-testlogs
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/.aswb
WORKSPACE
data/*
